{% extends "base.html" %}
{% block title %} Recipes {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <nav class="navbar" id="main-menu" style="border-radius:20px">
        <a class="navbar-brand" href="{{ url_for('recipeapp.recipes_main') }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Recepies
        </a>
        <span class="navbar-text pull-left">
            / {{ cat }}
        </span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <span class="input-group-btn">
                    <button class="btn btn-outline-light" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </nav>
</div>

<div class="container-fluid">
    <div class="list-group" id="items-list">
        {% for recipe in recipes %}
          <a href="{{ url_for('recipeapp.show_recipe',recipe_id=recipe.id)}}" class="list-group-item list-group-item-action flex-column align-items-start"> {{ recipe.name }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}