{% extends "base.html" %}
{% block title %} Add new stuff {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <nav class="navbar navbar-expand" id="main-menu" style="border-radius:20px">
        <a class="navbar-brand" href="{{ url_for('recipeapp.recipes_main') }}">
            <i class="fa fa-cutlery"></i>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('recipeapp.new_recipe') }}">New Recipe+</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('recipeapp.new_ingridient') }}">New Ingridient+</a>
            </li>
        </ul>

        <form class="form-inline ml-auto">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <span class="input-group-btn">
                    <button class="btn btn-outline-light" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </nav>
</div>
<div class="container-fluid mr-2 my-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for c,m in messages %}
        <div class="alert {{ c }}" role="alert">
            <button type=button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ m }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="container-fluid mt-2">
    {% if request.endpoint.endswith('new_ingridient')%}
    <form method="post" action="/new-ingridient">
        <div class="form-group">
            {{ itemForm.csrf_token }}
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.name.label }}</small> {{ itemForm.name(size=20) }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.cat.label }}</small> {{ itemForm.cat }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.note.label }}</small> {{ itemForm.note }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-2">SAVE</button>
    </form>
    {% endif %}

    {% if request.endpoint.endswith('new_recipe')%}
    <form method="post" action="/new-recipe" id="new_recipe_form">
        <div class="form-group">
            {{ form.csrf_token }}

            <div class="">
                <div class="dropzone" id="recipePhotos">
                </div>

                {% for f in form.photos %}
                {{ f }}
                {% endfor %}
            </div>
            <div class="d-flex flex-row justify-content-start">
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.name.label }}</small> {{ form.name(size=20) }}
                </div>
                <div class="form-group ml-4 pt-4">
                    {{ form.favourite(class="favourite") }}
                    <label for="favourite"></label>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.category.label }}</small> {{ form.category() }}
                </div>
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.subcategory.label }}</small> {{ form.subcategory() }}
                </div>
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.cuisine.label }}</small> {{ form.cuisine() }}
                </div>
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ form.description.label }}</small> {{ form.description(style="height: 120px") }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ form.prep_time.label }}</small> {{ form.prep_time() }}
            </div>
            <p class="text-center" style="backround-color:blue">Ингридиенты</p>
            <input type="button" class="btn btn-outline-primary my-2 add-ingridients" value="Add ingridient">

            <div class="ingridients-list">
                {% for f in form.ingridients %}
                <div class="form-group form-inline ingridient-form" id="ingridient-form-{{ loop.index0 }}">
                    {% for subf in f %}
                    {% if (subf.widget.input_type != 'hidden') %}
                    {% endif %}
                    {{ subf(class_="m-2") }}

                    {% endfor %}
                    <input type="button" class="btn btn-outline-danger ml-2 delete-ingridient" id="del-ingridient-0" value="X">
                </div>
                {% endfor %}

            </div>

            <p class="text-center" style="backround-color:blue">Пошаговая инструкция</p>
            <div class="steps-list">
                {% for f in form.steps %}
                <div class="d-flex flex-row my-2 step-form" id="step-form-0">
                    <div class="dropzone" id="stepPhoto-0">
                    </div>
                    {% for subf in f %}
                    {{ subf(class_ = "m-2", style="border-radius:20px")}}
                    {% endfor %}
                    <input type="button" class="btn btn-outline-danger ml-2 delete-step" id="del-step-0" value="X">
                </div>
                {% endfor %}
            </div>
            <input type="button" class="btn btn-outline-primary my-2 add-step" value="Add step">

        </div>
        <button type="submit" class="btn btn-outline-primary my-2" id="submit_recipe">SAVE</button>
    </form>

    {% endif %}
</div>
<script>
    Dropzone.autoDiscover = false;
    $(document).ready(function(){

        $('.select-ingridient').select2({
            placeholder: 'Select ingridient',
            theme: 'bootstrap'
        });

        var recipeDropzone = $('div#recipePhotos').dropzone({
            url:"{{ url_for('recipeapp.upload_photo') }}",
            uploadMultiple: false,
            addRemoveLinks: true,
            createImageThumbnails: true,
            thumbnailWidth: 350,
            thumbnailMethod: "contain",
            acceptedFiles:".jpeg, .jpg, .png, .gif, .JPEG, .JPG, .PNG, .GIF",
            autoProcessQueue: true,
            maxFiles: 3,
            resizeWidth: 640,
            resizeHeight: 480,
            resizeMethod: "contain",

            init: function(){
                var dropzone = this;
                $('#new_recipe_form').submit(function(e){
                    e.preventDefault();
                    dz_files=dropzone.files;
                    $.each(dz_files,function(i, file){
                        $('input#photos-'+i).val(file.name);
                    })
                    //var data = JSON.stringify($(this).serializeArray());
                    //console.log(data);
                    //return false;

                    $('#new_recipe_form')[0].submit();
                });

                //            $("#submit_recipe").on("click", function(e){
                //                e.preventDefault();
                //                e.stopPropagation();
                //                dropzone.processQueue();
                //            });
            }
        });

        $("div#stepPhoto-0").dropzone({
            url:"{{ url_for('recipeapp.upload_photo') }}",
            uploadMultiple: false,
            addRemoveLinks: true,
            createImageThumbnails: true,
            thumbnailWidth: 350,
            //thumbnailHeight: 250,
            thumbnailMethod: "contain",
            acceptedFiles:".jpeg, .jpg, .png, .gif, .JPEG, .JPG, .PNG, .GIF",
            autoProcessQueue: true,
            resizeWidth: 640,
            resizeHeight: 480,
            resizeMethod: "contain",


            init: function(){
                var dropzone=this;
                //                            $("#submit_recipe").on("click", function(e){
                //                            e.preventDefault();
                //                             e.stopPropagation();
                //                             dropzone.processQueue();
                //                            });

                input = $('div.step-form').children('.step-photo');
                this.on('success',function(file, message){
                    if(this.files.length>1){
                        this.removeFile(this.files[0]);
                    }
                    $(input).val(this.files[0].name);
                });
                this.on('removedfile', function(file){
                    $(input).val('no-photo');
                });

            }

        });


        $('.duration-picker').durationPicker({
            showDays:false,
            showSeconds:false,
            onChanged: function(value, isInitializing){
                $('#prep_time').attr('value',value);
            }

        });

        if($('#prep_time').length){
            $('#prep_time').data('durationPicker').setValue(0);
            //$('.hidden').hide();
        }

        $('.select-ingridient').select2({
            placeholder: 'Select ingridient',
            theme: 'bootstrap'
        });

        if($('.delete-ingridient').length < 2 ){$('.delete-ingridient').hide();}
        if($('.delete-step').length < 2 ){$('.delete-step').hide();}

        var ingridients_index=0;
        var steps_index=0;

        $(".add-step").click(function(){
            steps_index++;

            var newForm=$('.step-form:first').clone(true,true);
            $('.steps-list').append(newForm);
            $(newForm).find('textarea').attr('id','steps-'+steps_index+'-description').attr('name','steps-'+steps_index+'-description');
            $(newForm).find('.dropzone').remove();
            $('<div/>').addClass('dropzone').attr('id','stepPhoto-'+steps_index).prependTo(newForm);
            $(newForm).attr("id",'step-form-'+steps_index);
            $(newForm).find('.step-photo').attr('id','steps-'+steps_index+'-photo').attr('name','steps-'+steps_index+'-photo');

            $(newForm).find('input:hidden').not('.step-photo').attr('id','steps-'+steps_index+'-csrf_token').attr('name','steps-'+steps_index+'-csrf_token')

            $(newForm).find('#stepPhoto-'+steps_index).dropzone({
                url:"{{ url_for('recipeapp.upload_photo')}}",
                uploadMultiple: false,
                addRemoveLinks: true,
                createImageThumbnails: true,
                thumbnailWidth: 350,
                //thumbnailHeight: 250,
                thumbnailMethod: "contain",
                acceptedFiles:".jpeg, .jpg, .png, .gif, .JPEG, .JPG, .PNG, .GIF",
                autoProcessQueue: true,
                resizeWidth: 640,
                resizeHeight: 480,
                resizeMethod: "contain",

                init: function(){
                    var dropzone=this;
                    input = $('div.step-form').children('#steps-'+steps_index+ '-photo');
                    this.on('success',function(file, message){
                        console.log(this.files);
                        if(this.files.length>1){
                            this.removeFile(this.files[0]);
                        }
                        $(input).val(this.files[0].name);
                    });
                    this.on('removedfile', function(file){
                        $(input).val('no-photo');
                    });

                }

            });

            if($('.delete-step').length > 1 ){$('.delete-step').show();}


        });

        $(".add-ingridients").click(function(){

            ingridients_index++;

            var newForm = $('.ingridient-form:first').clone();
            $('.ingridients-list').append(newForm);
            $(newForm).find('span.select2-container').remove();
            $(newForm).find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');
            $(newForm).attr("id",'ingridient-form-'+ingridients_index);

            var select2 = $(newForm).find('select.select-ingridient');
            select2.select2({
                formatNoMatches: function(){
                    return "No Match";
                },
                placeholder: 'Ingridient..',
                theme: 'bootstrap'
            });
            $(newForm).find('#ingridients-0-name').attr("id",'ingridients-'+ingridients_index+'-name').attr('name','ingridients-'+ingridients_index+'-name');

            $(newForm).find('#ingridients-0-quantity').attr("id",'ingridients-'+ingridients_index+'-quantity').attr('name','ingridients-'+ingridients_index+'-quantity');

            $(newForm).find('#ingridients-0-unit').attr("id",'ingridients-'+ingridients_index+'-unit').attr('name','ingridients-'+ingridients_index+'-unit');

            $(newForm).find('input:hidden').attr("id",'ingridients-'+ingridients_index+'-csrf_token').attr('name','ingridients-'+ingridients_index+'-csrf_token');

            if($('.delete-ingridient').length > 1 ){$('.delete-ingridient').show();}

            //$("#ingridient-form-0").clone(true,true).attr("id","ingridient-form-"+ingridients_index).appendTo(".ingridients-list");
            //$("#ingridient-form-"+ingridients_index+".form-control").each(function(){
            //$(this).attr("id",$(this).attr("id")+ingridients_index);
            //}
            //$('.select-ingridient').select2();
        });


        $('.select-ingridient').on('select2:close',function(){
            result = $(this).find(':selected').val();
            console.log(result);
            console.log($(this).find(':selected').text());
        });

        $(document).on('click','.delete-ingridient',function(){
            $(this).closest(".ingridient-form").remove();
            if($('.delete-ingridient').length < 2 ){$('.delete-ingridient').hide();}
        });

        $(document).on('click','.delete-step',function(){
            $(this).closest(".step-form").remove();
            if($('.delete-step').length < 2 ){$('.delete-step').hide();}
        });

    });
</script>
{% endblock %}