{% extends "base.html" %}
{% block title %} Add new stuff {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <nav class="navbar navbar-expand" id="main-menu" style="border-radius:20px">
        <a class="navbar-brand" href="{{ url_for('recipeapp.recipes_main') }}">
            <i class="fa fa-cutlery"></i>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('recipeapp.new_recipe') }}">New Recipe+</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('recipeapp.new_ingridient') }}">New Ingridient+</a>
            </li>
        </ul>

        <form class="form-inline ml-auto">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <span class="input-group-btn">
                    <button class="btn btn-outline-light" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </nav>
</div>
<div class="container-fluid mr-2 my-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for c,m in messages %}
        <div class="alert {{ c }}" role="alert">
            <button type=button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ m }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="container-fluid mt-2">
    {% if request.endpoint.endswith('new_ingridient')%}
    <form method="post" action="/new-ingridient">
        <div class="form-group">
            {{ itemForm.csrf_token }}
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.name.label }}</small> {{ itemForm.name(size=20) }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.cat.label }}</small> {{ itemForm.cat }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ itemForm.note.label }}</small> {{ itemForm.note }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-2">SAVE</button>
    </form>
    {% endif %}

    {% if request.endpoint.endswith('new_recipe')%}
    <form method="post" action="/new-ingridient">
        <div class="form-group">
            {{ form.csrf_token }}
            <div class="d-flex flex-row justify-content-start">
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.name.label }}</small> {{ form.name(size=20) }}
                </div>
                <div class="form-check align-self-center">
                    <label class="form-check-label favourite-lbl">
                        {{ form.favourite(value='n') }} 
                        <i class="fa fa-heart-o fa-2x unchecked" style="color:purple"></i>
                        <i class="fa fa-heart fa-2x checked" style="color:purple"></i>
                    </label>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.category.label }}</small> {{ form.category() }}
                </div>
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.subcategory.label }}</small> {{ form.subcategory() }}
                </div>
                <div class="form-group">
                    <small class="my-0 py-0">{{ form.cuisine.label }}</small> {{ form.cuisine() }}
                </div>
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ form.description.label }}</small> {{ form.description() }}
            </div>
            <div class="form-group">
                <small class="my-0 py-0">{{ form.prep_time.label }}</small> {{ form.prep_time() }}
            </div>
            <p class="text-center" style="backround-color:blue">INGRIDIENTS</p>
            <input type="button" class="btn btn-outline-primary my-2 add-ingridients" value="Add ingridient">

            <div class="ingridients-list">
                {% for f in form.ingridients %}
                <div class="form-group form-inline ingridient-form" id="ingridient-form-{{ loop.index0 }}">
                    {% for subf in f %}
                    {% if (subf.widget.input_type != 'hidden') %}
                    {% endif %}
                    {{ subf(class_="m-2") }}
                    {% endfor %}
                    <input type="button" class="btn btn-outline-danger ml-2 delete-ingridient" id="del-ingridient-0" value="X">
                </div>
                {% endfor %}

            </div>
            <div class="d-flex flex-row my-2">
                <div class="dropzone" id="photoUpload">
                </div>
                {{ form.step(style="border-radius:20px") }}
                <input type="button" class="btn btn-outline-danger ml-2" id="del-step-0" value="X">

            </div>

        </div>
        <button type="submit" class="btn btn-outline-primary my-2" id="submit_recipe">SAVE</button>
    </form>

    {% endif %}
</div>
<script>

    $("div#photoUpload").dropzone({
        url:"{{ url_for('recipeapp.upload_photo')}}",
        uploadMultiple: false,
        addRemoveLinks: true,
        createImageThumbnails: true,
        thumbnailWidth: 350,
        //thumbnailHeight: 250,
        thumbnailMethod: "contain",
        acceptedFiles:".jpeg, .jpg, .png, .gif, .JPEG, .JPG, .PNG, .GIF",
        autoProcessQueue: false,

        init: function(){
            var dropzone=this;
            $("#submit_recipe").on("click", function(e){
                e.preventDefault();
                e.stopPropagation();
                dropzone.processQueue();
            });

            this.on('success',function(file, message){
                console.log(this.files);
                if(this.files.length>1){
                    this.removeFile(this.files[0]);
                }
            });

        }

    });


    $(document).ready(function(){
        $('.select-ingridient').select2();

        var ingridients_index=0;
        $(".add-ingridients").click(function(){

            ingridients_index++;

            var newForm = $('.ingridient-form:first').clone();
            $('.ingridients-list').append(newForm);
            $(newForm).find('span.select2-container').remove();
            $(newForm).find('.select2-hidden-accessible').removeClass('select2-hidden-accessible');

            var select2 = $(newForm).find('select.select-ingridient');
            select2.select2({
                formatNoMatches: function(){
                    return "No Match";
                },
                placeholder: 'Ingridient..'
            });
            //$("#ingridient-form-0").clone(true,true).attr("id","ingridient-form-"+ingridients_index).appendTo(".ingridients-list");
            //$("#ingridient-form-"+ingridients_index+".form-control").each(function(){
                //$(this).attr("id",$(this).attr("id")+ingridients_index);
            //});
            //$('.select-ingridient').select2();
        });


        $(document).on('click','.delete-ingridient',function(){
            $(this).closest(".ingridient-form").remove();
        });

    });
</script>
{% endblock %}