{% extends "base.html" %}
{% block title %} Recepies {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}
<div class="d-flex flex-row mb-2">
    <nav class="col-12 topbar" role="navigation" id="shopMenu">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="btn btn-outline-primary" style="color:#0275d8" href="{{ url_for('shopapp.shop_main') }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>

            <h5 class="align-self-center my-0 mx-5" style="font-size:150%">{{ cat.name }}</h5>
        </ul>
    </nav>
</div>

<div class="container-fluid">
    <ul id="lists" class="list-group">
        {% if prods[0] is defined %}
        {% for prod in prods %}
        <li class="list-group-item p-0 border-left-0 border-right-0">
            <div class="d-flex w-100 justify-content-end">
                <div class="col">{{ prod.name }}</div>
                <div class="d-flex flex-row">
                    <button class="btn btn-link ml-auto h-50" data-toggle="modal" data-target="#newProduct" data-prod-id="{{ prod.id }}" data-action="edit"><i class="fa fa-edit fa-lg"></i></button>
                    <button id="delProduct" data-url="{{ url_for('shopapp.delProduct', prod_id = prod.id) }}" class="btn btn-link mx-2 h-50 delProduct"><i class="fa fa-trash fa-lg"></i></button>
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <div class="d-flex flex-row justify-content-center">
            <h6>Oops! No products in this category yet...</h6>
        </div>
        {% endif %}
    </ul>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary my-2" style="border-radius:20px" data-toggle="modal" data-target="#newProduct" data-action="new">+New Item</button>
    </div>        

</div>

{% from 'macros.html' import make_modal %}

{% call make_modal('newProduct', 'Create new product', '/new-product', 'newProdForm')%}
{{ prodForm.csrf_token }}
<div class="d-flex flex-inline">
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.name.label(class='my-0') }}</small>
        {{ prodForm.name(required='required') }}
        {% for error in prodForm.errors.name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </div>            
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.category.label(class='my-0') }}</small>
        {{ prodForm.category}}
    </div>
</div>        
<div class="d-flex flex-inline">
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.size.label(class='my-0') }}</small>
        {{ prodForm.size(type="number") }}
    </div>
    <div class="form-group col-4">
        <small class="my-0 py-0">{{ prodForm.unit.label(class='my-0') }}</small>
        {{ prodForm.unit }}
    </div>
</div>
<div class="form-group mx-3">
    <small class="my-0 py-0">{{ prodForm.note.label(class='my-0') }}</small>
    {{ prodForm.note }}
</div>

{% endcall %}

<script>
    var $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    $(document).ready(function(){
        $('.modal')
            .on({
            'show.bs.modal':function(){
                var idx = $('.modal:visible').length;
                $(this).css('z-index', 1040 + (5*idx));

            },

            'shown.bs.modal':function(){
                var idx=($('.modal:visible').length) - 1;
                $('.modal-backdrop').not('.stacked')
                    .css('z-index',1039 + (5*idx))
                    .addClass('stacked');
                $('#category').val('{{ cat.id }}');
            },

            'hidden.bs.modal':function(){
                if($('.modal:visible').length > 0){
                    setTimeout(function(){
                        $(document.body).addClass('modal-open');
                    },0);
                }
            }

        });

        $('.delProduct').on('click',function(){
            if(confirm('Do you want to delete item?')){
                $.post($(this).attr("data-url"));
                setTimeout(function() {
                    window.location.reload();
                },0);                

            }
        });

        $('#newProduct').on('show.bs.modal', function(e){
            var button=$(e.relatedTarget);
            var action=button.data('action')
            if(action=="edit"){
                var prod_id=button.data('prod-id')

                $.getJSON($SCRIPT_ROOT+'/_get_product',{
                    prod_id: prod_id,
                },
                          function(data){
                    prod=data.data;
                    $("#newProdForm").attr("action","/edit-product/"+prod_id);
                    $("#newProdForm select[id=category]").find('option:contains("'+prod.category+'")').attr("selected",true);
                    $("#newProdForm input[id=name]").val(prod.name);
                    $("#newProdForm textarea[id=note]").val(prod.note);
                    $("#newProdForm input[id=size]").val(prod.size);
                    $("#newProdForm input[id=unit]").val(prod.unit);
                    $("h5").text(prod.name);
                });
            }
            else{$("h5").text("Add new product");}
        });        
        
         $('.modal').on('hidden.bs.modal',function(){
            $(this).find('form')[0].reset();
         });
    });
</script>
{% endblock %}
