{% extends "base.html" %}
{% block title %} Recepies {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}
<div class="row">
    <nav class="col-12 topbar bg-faded" role="navigation" id="shopMenu">
        <ul class="nav nav-pills flex-row pl-2">
            <li class="nav-item"><a class="btn btn-outline-primary" style="color:#0275d8" onclick="history.back(-1)" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>

        </ul>
    </nav>
</div>

<div class="container-fluid">
    <ul id="lists" class="list-group">
        {% for item in items %}
        <div class="list-group-item">
            {{ item.name }}
        </div>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary my-2" style="border-radius:20px" data-toggle="modal" data-target="#addItem">+Add Item</button>
        <button class="btn btn-outline-primary my-2" style="border-radius:20px" data-toggle="modal" data-target="#newItem">+New Item</button>
    </div>        
    
</div>

{% from 'macros.html' import make_modal %}
{% call make_modal('addItem', 'Select category', '', '')%}
    <div class="d-flex flex-wrap">
    {% for cat in cats %}
            <button class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#ItemsInCategory" id="category" data-category="{{ cat.name }}" style="word-wrap: break-word;">{{ cat.name }}</button>
    {% endfor %}
    </div>
{% endcall %}

{% call make_modal('newItem', 'Create new product', '/new-product', 'newProdForm')%}
    {{ prodForm.csrf_token }}
    <div class="d-flex flex-inline">
        <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.name.label(class='my-0') }}</small>
        {{ prodForm.name(required='required') }}
        {% for error in prodForm.errors.name %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        </div>            
        <div class="form-group col-6">
            <small class="my-0 py-0">{{ prodForm.category.label(class='my-0') }}</small>
            {{ prodForm.category }}
        </div>
    </div>        
    <div class="d-flex flex-inline">
        <div class="form-group col-6">
            <small class="my-0 py-0">{{ prodForm.size.label(class='my-0') }}</small>
            {{ prodForm.size(type="number") }}
        </div>
        <div class="form-group col-4">
            <small class="my-0 py-0">{{ prodForm.unit.label(class='my-0') }}</small>
            {{ prodForm.unit }}
        </div>
    </div>
        <div class="form-group mx-3">
            <small class="my-0 py-0">{{ prodForm.note.label(class='my-0') }}</small>
            {{ prodForm.note }}
        </div>

{% endcall %}


{% endblock %}
