{% extends "base.html" %}
{% block title %} Shopping List {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}
<div class="row mb-2">
    <nav class="col-12 topbar" role="navigation" id="shopMenu">
        <ul class="nav nav-pills flex-row pl-2">
            <li class="nav-item"><a class="btn btn-outline-primary" style="color:#0275d8" href="{{ url_for('shopapp.shop_main') }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>

        </ul>
    </nav>
</div>

<div class="container-fluid my-1">
    <ul id="lists" class="list-group">
        {% for item in items %}
        <li class="list-group-item {% if item.chk %} list-group-item-success {% endif %} p-0 border-left-0 border-right-0" {% if item.chk %}style="text-decoration:line-through"{% endif %}>
            <div class="d-inline-flex w-100 justify-content-end">
                <div class="col-1 px-0 align-self-center mr-2"><form method="post" action="{{ url_for('shopapp.check_item', item_id=item.id) }}" class="col-1"><button class="btn btn-link px-0">{% if item.chk %}<i class="fa fa-check-square-o fa-2x"></i>{% else %}<i class="fa fa-square-o fa-2x"></i>{% endif %}</button></form>
                </div>
                <div class="col align-self-center ml-2">{{ item.product.name }}</div>
                <div class="col align-self-center ml-2">{% if item.coupon %} {{ item.coupon }}{% endif %}</div>
                <div class="d-flex flex-column mr-4">
                    <p id="item-price" class="my-0">${{ item.price }}</p>
                    <p id="item-qnty" class="my-0">{{ item.qnty }}</p> 
                </div>  
                <div class="d-none d-sm-flex flex-row ">
                    <button class="btn btn-link ml-auto h-50" data-toggle="modal" data-target="#editItem" data-item-id="{{ item.id }}" data-list-id="{{ item.slist }}" data-product-name="{{ item.product.name }}" data-action="edit"><i class="fa fa-edit fa-lg"></i></button>
                    <button id="delItem" data-url="{{ url_for('shopapp.delItem', item_id = item.id) }}" class="btn btn-link mx-2 h-50 delItem"><i class="fa fa-trash fa-lg"></i></button>
                </div>
            </div>
        </li>
        {% endfor %}
        <li> Total spent:{{ chk }}</li>
    </ul>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary my-2" style="border-radius:20px" data-toggle="modal" data-target="#addItem">+Add Item</button>
        <button class="btn btn-outline-primary my-2" style="border-radius:20px" data-toggle="modal" data-target="#newProduct">+New Product</button>
    </div>        

</div>

{% from 'macros.html' import make_modal %}


{% call make_modal('editItem', 'Edit Item','','') %}

<form class="form-group" method="post" action="" id="editItemForm">
    {{ itemForm.csrf_token }}
    {{ itemForm.product_id}}
    <div class="d-flex flex-inline py-0 my-0">
        <div class="form-group col-6 mb-0">
            <small class="my-0 py-0">{{ itemForm.shop.label(class='my-0') }}</small>
            {{ itemForm.shop }}
            {% for error in itemForm.errors.shop %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>  
        <div class="form-group col-4 mb-0">
            <small class="my-0 py-0"> {{ itemForm.coupon.label(class='my-0')}} </small>
            {{ itemForm.coupon }}
        </div>
             
    </div>
    <div class="d-flex flex-inline py-0 my-0"> 
        <div class="form-group col-6 mb-0">
            <small class="my-0 py-0">{{ itemForm.quantity.label(class='my-0') }}</small>
            {{ itemForm.quantity(type="number")}}
        </div>
        <div class="form-group col-4 mb-0">
            <small class="my-0 py-0">{{ itemForm.price.label(class='my-0') }}</small>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ itemForm.price(type="number", step="any")}}
            </div>
        </div>
    </div>
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ itemForm.notes.label(class='my-0') }}</small>
        {{ itemForm.notes}}
    </div>
    {{ itemForm.slist_id}}

    <button type="submit" class="btn btn-primary ml-3">UPDATE</button>
</form>


{% endcall %}

{% call make_modal('addItem', 'Select category', '', '')%}
<div class="d-flex flex-wrap">
    {% for cat in cats %}
    <button class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#ItemsInCategory" id="category" data-category="{{ cat.name }}" style="word-wrap: break-word;">{{ cat.name }}</button>
    {% endfor %}
</div>
{% endcall %}

{% call make_modal('newProduct', 'Create new product', '/new-product', 'newProdForm')%}
{{ prodForm.csrf_token }}
<div class="d-flex flex-inline">
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.name.label(class='my-0') }}</small>
        {{ prodForm.name(required='required') }}
        {% for error in prodForm.errors.name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </div>            
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.category.label(class='my-0') }}</small>
        {{ prodForm.category }}
    </div>
</div>        
<div class="d-flex flex-inline">
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ prodForm.size.label(class='my-0') }}</small>
        {{ prodForm.size(type="number") }}
    </div>
    <div class="form-group col-4">
        <small class="my-0 py-0">{{ prodForm.unit.label(class='my-0') }}</small>
        {{ prodForm.unit }}
    </div>
</div>
<div class="form-group mx-3">
    <small class="my-0 py-0">{{ prodForm.note.label(class='my-0') }}</small>
    {{ prodForm.note }}
</div>

{% endcall %}


{% call make_modal('ItemsInCategory', 'Select product', '', '')%}
<ul class="list-group" id="product_list">
</ul>
{% endcall %}


{% call make_modal('newItem', "Price and Qnty", '', '')%}

<form class="form-group" method="post" action="/new-item" id="newItemForm">
    {{ itemForm.csrf_token }}
    {{ itemForm.product_id}}
    <div class="d-flex flex-inline">
        <div class="form-group col-6">
            <small class="my-0 py-0">{{ itemForm.shop.label(class='my-0') }}</small>
            {{ itemForm.shop }}
            {% for error in itemForm.errors.shop %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>  
        <div class="form-group col-4">
            <small class="my-0 py-0">{{ itemForm.coupon.label(class='my-0')}}</small>
            {{ itemForm.coupon }}
        </div>
    </div>
    <div class="d-flex flex-inline"> 
        <div class="form-group col-6">
            <small class="my-0 py-0">{{ itemForm.quantity.label(class='my-0') }}</small>
            {{ itemForm.quantity(type="number")}}
        </div>
        <div class="form-group col-4">
            <small class="my-0 py-0">{{ itemForm.price.label(class='my-0') }}</small>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ itemForm.price(type="number", step="any")}}
            </div>
        </div>
    </div>
    <div class="form-group col-6">
        <small class="my-0 py-0">{{ itemForm.notes.label(class='my-0') }}</small>
        {{ itemForm.notes}}
    </div>
    {{ itemForm.slist_id}}

    <button type="submit" class="btn btn-primary">ADD</button>
</form>
{% endcall %}


<script>
    var $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    $(document).ready(function(){
        $('.modal')
            .on({
            'show.bs.modal':function(){
                var idx = $('.modal:visible').length;
                $(this).css('z-index', 1040 + (5*idx));
            },

            'shown.bs.modal':function(){
                var idx=($('.modal:visible').length) - 1;
                $('.modal-backdrop').not('.stacked')
                    .css('z-index',1039 + (5*idx))
                    .addClass('stacked');
            },

            'hidden.bs.modal':function(){
                if($('.modal:visible').length > 0){
                    setTimeout(function(){
                        $(document.body).addClass('modal-open');
                    },0);
                }
            }

        });

        $('#ItemsInCategory').on('show.bs.modal',function(event){

            var button=$(event.relatedTarget);
            var cat = button.data('category');

            $.getJSON($SCRIPT_ROOT+'/_get_products',{
                cat: cat,
            },
                      function(data){
                products=data.data;
                var list = $('#product_list');
                list.empty();
                $.each(products,function(i){
                    var item=$('<button/>')
                    .addClass('list-group-item list-group-item-action')
                    .attr('data-product-name',products[i].name)
                    .attr('data-toggle','modal')
                    .attr('data-target','#newItem')
                    .text(products[i].name)
                    .appendTo(list);
                });
            });

        });

        $('#editItem').on('show.bs.modal',function(e){
            var button=$(e.relatedTarget);
            var item_id=button.data('item-id')
            var url=$(location).attr('href')
            var list_name = url.substring(url.lastIndexOf('/') + 1);

            $.getJSON($SCRIPT_ROOT+'/_get_item',{
                item_id: item_id,
            },
                      function(data){
                item=data.data;
                $("#editItemForm").attr("action","/edit-item/"+item_id);
                $("#editItemForm select[id=shop]").find('option:contains("'+item.shop+'")').attr("selected",true);
                $("#editItemForm select[id=coupon]").find('option:contains("'+item.coupon+'")').attr("selected",true);
                $("#editItemForm input[id=notes]").val(item.note);
                $("#editItemForm input[id=price]").val(item.price);
                $("#editItemForm input[id=quantity]").val(item.qnty);
                $("#editItem h5").text(item.product);

            });

        });

        $('#newItem').on('show.bs.modal',function(e){

            var button=$(e.relatedTarget);
            var product_name=button.data('product-name');
            var url=$(location).attr('href')
            var list_name = url.substring(url.lastIndexOf('/') + 1);

            $('#newItemForm input[id=product_id]').val(product_name);
            $('#newItemForm input[id=slist_id]').val(list_name);

        });

        $('.delItem').on('click',function(){
            if(confirm('Do you want to delete item?')){
                $.post($(this).attr("data-url"));
                setTimeout(function() {
                    window.location.reload();
                },0);                

            }
        });

        $('#price_qnty').on('hidden.bs.modal',function(){
            $(this).find('form')[0].reset();
        });        
    });
</script>
{% endblock %}
