<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">#}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='dropzone.css')}}">
        <link href="https://fonts:googleapis.com/css?family=Imprima" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='mycss.css') }}">



        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.js" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.js"  crossorigin="anonymous"></script>

        <script src="{{url_for('static',filename='dropzone.js')}}"></script>

        {#<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>#}
        {% endblock %}
        <title>{% block title %}{{ Title }}{% endblock %}</title>
    </head>

    <body>
        {% if request.endpoint %}
        <nav class="navbar navbar-expand-lg navbar-toggleable-md fixed-top navbar-light" id="top-menu">
            <button class="navbar-toggler navbar-toggler-right mr-4" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle Menu">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            <a class="navbar-brand pr-1" href="#">Kitchen</a>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item {%if request.endpoint.endswith('home_main')%}active{%endif%}">
                        <a class="nav-link" href="{{url_for('home.home_main')}}"><div class="mx-2">Home</div><span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item {%if request.endpoint.endswith('shop_main')%}active{%endif%}">
                        <a class="nav-link" href="{{url_for('shopapp.shop_main')}}"><div class="mx-2">Shopping List</div><span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item {%if request.endpoint.endswith('finance_main')%}active{%endif%}">
                        <a class="nav-link" href="{{url_for('finance.finance_main')}}"><div class="mx-2">Finances</div><span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item {%if request.endpoint.endswith('recipes_main')%}active{%endif%}">
                        <a class="nav-link" href="{{url_for('recipeapp.recipes_main')}}"><div class="mx-2">Recipes</div><span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>

        </nav>
        {% endif %}
        {% block content %}
        {% endblock %}

        <footer id="footer">
            <div class="container-fluid py-2" style="background:">
                <p class="text-center"><i class="fa fa-copyright"></i>Zubik 2017</p>
            </div>
        </footer>
    </body>
</html>